.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
.eslintrc.json
.eslintignore
**/*.map
**/*.ts
node_modules/**
!node_modules/ignore/**
!node_modules/simple-git/package.json
!node_modules/simple-git/promise.js
!node_modules/simple-git/dist/cjs/index.js
!node_modules/simple-git/dist/typings/**
!node_modules/simple-git/dist/src/**
.git/**
.github/**
package-lock.json
.prettierrc
.prettierignore
*.vsix
CONTRIBUTING.md
gitignore-guard-full-logo.png
MAINTAINER.md
CODEOWNERS
update-readme-images.sh
.idea/**
.lh/**
.claude/**
test-ignored.log
out/**
